.recommend-friends {
  margin: 50px 0px;
  padding: 25px 0px;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
}

.recommend-friends__title {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 30px;
}

.recommend-friends__title i {
  margin-left: 30px;
  color: #ffff00;
}

.recommend-friends h5 {
  margin-bottom: 60px;
}
.recommend-friends span {
  margin-bottom: 100px;
  display: block;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.recommend-friends img {
  margin-bottom: 50px;
  width: 450px;
  height: 250px;
}
.open-chat__header {
  display: flex;
  justify-content: space-between;
  opacity: 0.5;
  margin-bottom: 60px;
}

.open-chat__header span {
  opacity: 0.6;
}
.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.open-post__title {
  font-weight: 600;
  margin-bottom: 5px;
}

.open-post__hashtag {
  text-transform: uppercase;
  opacity: 0.6;
}

.open-post__members {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.open-post__members img {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 7px;
}

.open-post__members-number {
  opacity: 0.5;
  font-size: 15px;
}

.open-post__members .divider {
  width: 1px;
  height: 15px;
  margin: 0 5px;
  background-color: var(--sub-border);
}

.open-post__members-status {
  color: #bf8755;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 600;
}

.open-post_photo {
  position: relative;
}

.open-post_photo img {
  width: 150px;
  height: 120px;
  border-radius: 10px;
}

.open-post__heart-numbers {
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 14px;
  cursor: grab;
}

.open-post__heart-numbers span {
  margin-left: 3px;
}

@keyframes heartbeat {
  0% {
    color: white;
    transform: none;
  }
  50% {
    color: tomato;
    transform: scale(1.5);
  }
  100% {
    color: white;
  }
}

.open-post__heart-numbers:hover i {
  will-change: transform;
  animation: heartbeat 1s linear infinite;
}
