#friends-display-link {
  display: flex;
  justify-content: center;
  background-color: #fafafa;
  padding: 10px 0px;
}

#friends-display-link i {
  color: #2e363e;
}

@keyframes hidescreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
#splash-screen {
  background-color: yellow;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 132px;
  animation: hidescreen 1.2s ease-in-out forwards;
  animation-delay: 2s;
}
