.alt-header {
  justify-content: space-between;
  padding: var(--horizontal-space);
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.alt-header__column:first-child {
  font-size: 40px;
  font-weight: 800;
  margin-right: auto;
}

.alt-header__column:last-child {
  margin-left: auto;
}
