.user-part {
  justify-content: space-between;
  /* friends-screen__channel과 user-part__column 분리 */
}
.user-part,
.user-part__column:first-child {
  display: flex;
  align-items: center;
}
.user-part__avatar {
  width: 65px;
  height: 65px;
  border-radius: 30px;
  margin-right: 20px;
}
.user-part__title {
  font-weight: 600;
  font-size: 18px;
}
.user-part__message {
  margin-top: 5px;
  font-size: 15px;
  opacity: 0.4;
}

.user-part__avatar--xl {
  width: 70px;
  height: 70px;
}

.user-part__avatar--sm {
  width: 55px;
  height: 55px;
  border-radius: 20px;
}

user-part__title--not--bold {
  font-weight: 400;
}

.user-part__column:last-child {
  color: rgba(0, 0, 0, 0.5);
}
